.wrapperContact {
  font-family: 'Golos', sans-serif;
  width: 100%;
  /* max-width: 550px; */
  left: 50%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  overflow-x: hidden;
}
/* ---------- Contacts ---------- */
.contacts {
  padding: 10px 20px 10px 20px;
  font-family: "Golos", sans-serif;
}

.contacts_Title {
  font-weight: bold;
}

.contacts_email_text {
  font-weight: bold;
}

.contacts_socmed_text {
  margin-top: 10px;
  font-weight: bold;
}

.other_text {
  margin-top: 10px;
}


@media (max-width: 500px) {
  .hero_tagline {
    color: #ddd;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    font-style: italic;
  }
}