
.qr-wrapper {
  font-family: 'Golos', sans-serif;
  width: 100%;
  left: 50%;
  margin: 0 auto;
  background-color: #EF7828;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 110px;
}

.qr-page {
    background: white;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-family: 'Golos', sans-serif;
}

.qr-page img{
    width: 200px;
    height : 200px;
}

.qr-header{
    font-weight: 600;
}

.qr-page p{
    font-size: 1.2em;
    font-weight: 600;
}

.qr-page button{
    font-weight: bold;
    width: 275px;
    height: 60px;
    border-radius: 10px;
    background-color: #EF7828;
    margin-top: 10px;
}

